.dashboard-block {
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #FFFFFF;
	padding: 10px;
	margin:5px;
}

#dashboard-tabs {
	width: 100%;
	display: inline-block;
}

#agency_activities {
	
}

#upcomming_work {
	width: 60%;
	float: left;
}

#conversion_rate {
	width: 37%;
}

.left-block {
}

.right-block {
	float: right;	
}